version: '3.9'
services:
  web:
    container_name: ${DOCKER_APP_CONTAINER}
    restart: always
    env_file: ./.env
    build:
      context: ./config
      dockerfile: apache.dockerfile
      args:
        - DOCKER_APP_NAME=${DOCKER_APP_NAME}
        - DOCKER_APP_CONTAINER=${DOCKER_APP_CONTAINER}
        - DOCKER_APP_UID=${DOCKER_APP_UID}
        - DOCKER_APP_GID=${DOCKER_APP_GID}
        - DOCKER_APP_USERNAME=${DOCKER_APP_USERNAME}
        - DOCKER_APP_HOSTNAME=${DOCKER_APP_HOSTNAME}
        - DOCKER_APP_DOCROOT=${DOCKER_APP_DOCROOT}
    ports:
      - '127.0.0.1:22:22'
      - '127.0.0.1:80:80'
      - '127.0.0.1:443:443'
    volumes:
      - ./..:/var/www/html
      - $HOME/.ssh:/home/user/.ssh
      - ./home:/home/user
  mariadb:
    container_name: mariadb-10-4-${DOCKER_APP_NAME}
    restart: always
    build:
      context: ./config
      dockerfile: mariadb.dockerfile
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: app
    ports:
      - '127.0.0.1:3306:3306'
    volumes:
      - ./var/mysql:/bitnami/mariadb/data
  redis:
      image: redis:6.0
      container_name: mxbox-redis-6-0-${DOCKER_APP_NAME}
      restart: always
      ports:
          - '127.0.0.1:6379:6379'
  memcached:
    image: memcached:1.6
    container_name: mxbox-memcached-1-6-${DOCKER_APP_NAME}
    restart: always
    ports:
      - '127.0.0.1:11211:11211'
  mailhog:
      image: mailhog/mailhog
      container_name: mailhog-latest-${DOCKER_APP_NAME}
      restart: always
      environment:
          MH_STORAGE: maildir
          MH_MAILDIR_PATH: /home/mailhog/mail
      ports:
          - '127.0.0.1:1025:1025'
          - '127.0.0.1:8025:8025'
      volumes:
          - ./var/mailhog:/home/mailhog
